<div class="row">
  <div class="col-lg-6  ">
    <nb-card>
      <nb-card-header>Child Details</nb-card-header>
      <nb-card-body>
          <div class="row full-name-inputs">
        <div class="input-group">
          <input type="text" placeholder="ChildName" class="form-control"/>
        </div>
          <div class="input-group">
            <input type="text" placeholder="ParentName" class="form-control"/>
          </div>
          <div class="input-group">
            <input type="text" placeholder="Address1" class="form-control"/>
          </div>
        
        <div class="input-group">
          <input type="text" placeholder="Address2" class="form-control"/>
        </div>
        <div class="input-group">
            <input type="text" placeholder="Phone1" class="form-control"/>
        </div>
        <div class="input-group">
            <input type="text" placeholder="Phone2" class="form-control"/>
        </div>
        <div class="input-group">
            <input type="text" placeholder="Referral" class="form-control"/>
        </div>
        <div class="input-group">
            <input type="text" placeholder="Duration" class="form-control"/>
        </div>
        

        <div class="input-group mail-btn-group">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-icon">
                <i class="ion-ios-email-outline"></i>
              </button>
            </span>
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-primary">
                @example.com
              </button>
            </span>
          </div>
    
          <div class="input-group">
              <input type="text" class="form-control" placeholder="StartDate">
          </div>
          
          <div class="form-group">
              <label>Class</label>
              <select class="form-control">
                <option>InfantA</option>
                <option>InfantB</option>
                <option>Twaddler</option>
                <option>Toddler</option>
                <option>PreSchoolA</option>
                <option>PreSchoolB</option>
              </select>
            </div>
      

        <div class="form-group">
            <label>Gender</label>
            <select class="form-control">
              <option>Female</option>
              <option>Male</option>
            </select>
          </div>


          <div class="form-group">
              <label>#OfDays</label>
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
    